html {
    height: 100% !important;
}

body {
    height: 100% !important;
    color: #797979 !important;
}
button, input {
    color: #797979 !important;
}
.container-fluid {
    height: calc(100% - 60px) !important;
    overflow: hidden;
}

.row {
    height: 100%;
    overflow: hidden;
}

.col {
    min-height: calc(100% - 60px);
    overflow: auto;
    height: -webkit-fill-available;
}

.navbar {
    height: 60px;
    border-bottom: 2px solid #dcdcdc;
}

#post-panel .card {
    width: calc(100% - 40px);
    margin: 20px;
}

.col {
    min-height: calc(100% - 60px);
}

#profile-panel {
    background-color: #f7f7f7;
    border-right: 2px solid #dcdcdc;
}

#comment-panel {
    background-color: #e7e7e7;
    border-left: 2px solid #dcdcdc;
}

#fetching {
    margin: 20px;
    display: none;
    font-size: 20px;
}

.counts {
    display: inline-block;
    margin: 0px 5px;
}

#post-panel .card-link {
    color: #8c8c8c !important;
}

#post-panel .card-link:hover {
    color: black !important;
    cursor: pointer;
    transition: all .3s ease-in;
}

#comment-panel .card {
    margin: 15px 0px;
    background-color: transparent;
    border: none;
}

#comment-panel .card-body {
    background-color: white;
    margin: 0px 0px 2px 0px;
    border-radius: 0px 0px 5px 5px;
}

#comment-panel .list-group {
    background-color: transparent;
}

#comment-panel .list-group-item {
    border-radius: 5px;
    border: none;
    display: flex;
    padding: 0px;
    margin: 2px 0px;
}

#comment-panel .heading {
    font-weight: 500;
    font-size: 14px;
}

#comment-panel .comment-tab {
    border-radius: 5px !important;
    margin: 2px 0px;
}

.input-group {
    width: 85% !important;
    display: inline-flex;
}

.input-group-prepend {
    width: 31% !important;
}
textarea:focus, textarea:focus {
    box-shadow: none !important;
}
#comment-panel .input-group-prepend {
    width: 18% !important;
}

.custom-file {
    width: 100%;
    height: 100% !important;
}

#commentBtn img {
    height: 24px;
    width: auto;
}

#commentBtn {
    margin: auto;
    background-color: transparent;
    border: none;
}

#commentBtn:hover {
    background-color: transparent;
    border: none;
}

.custom-file-input {
    height: 100% !important;
}

.custom-file-label {
    height: 100% !important;
    border-radius: 3px 0px 0px 3px !important;
}

.custom-file-label::after {
    display: none;
}

textarea.form-control {
    min-height: 38px;
    height: 38px;
    
}

#comment-panel textarea.form-control {
    height: 42px;
    min-height: 42px;
}

#post-panel .comment-tab {
    padding-top: 0px;
}

.comment-picture {
    display: inline-block;
    margin: 5px 10px 5px 5px;
}

.content {
    display: inline-block;
    margin: 0px;
}

.comment-picture img {
    height: 40px !important;
    display: inline-block;
}

.comment-tab img {
    height: 24px;
}

.posted-on {
    display: inline-block;
    float: right;
}

span.date {
    font-weight: 600;
}

.list-group .card {
    background-color: white !important;
}

.comment-text {
    display: flex;
}

.share-post {
    padding: 10px 20px;
}

button:active,
button:focus {
    box-shadow: none !important;
}

#profile-pic-holder img {
    vertical-align: middle;
    border-style: none;
    min-width: 100%;
    max-width: 250px;
    min-height: 100%;
    max-height: 250px;
}
p.username {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: -2px;
}
p.email {
    font-size: 13px;
}
p.dob {
    font-size: 13px;
    line-height: 13px;
    margin-top: 11px !important;
    margin-bottom: 7px;
}
p.ph-no {
    font-size: 13px;
    line-height: 13px;
}
.profile-details img {
    width: auto !important;
    height: 16px;
    margin: -2px 10px 0px 0px;
    border-radius: 0px !important;
}
a.navbar-brand {
    font-weight: 600;
    color: #797979 !important;
}
#profile-pic-holder {
    border-radius: 100px;
    overflow: hidden;
    width: 100%;
    height: auto;
    max-height: 160px;
    margin: 26px 10px;
    max-width: 160px;
    margin: 20px auto;
}
#navbar-collapse .nav-link {
    color: #797979 !important;
}